<!--SUBSCRIBE-->

<section id="subscribe" class="wrp">
  <div class="subscribe flx">
    <h2>Theo dõi <br>bản tin của chúng tôi</h2>

    <form action="" class="flx">
      <label for="email"></label>
      <input type="email" id="email" placeholder="yourmail@gmail.com">
      <a href="#" type="submit" class="subscribe__btn xd__btn btn-secondary">Đăng ký</a>
    </form>
  </div>
</section>

<!--FOOTER-->
<section>
  <footer id="footer">
    <div class="footer__grid wrp">
      <!--Column 1-->
      <div class="footer__col-1">
        <p class="footer__col-title p-bold">Liên hệ</p>
        <div>
          <p class="p-bold">Email</p>
          <p>needhelp@HB.com</p>
        </div>
        <div>
          <p class="p-bold">Số điện thoại</p>
          <p>666 888 888</p>
        </div>
        <div>
          <p class="p-bold">Địa chỉ</p>
          <p>Khu phố 6, phường Linh Trung, Tp. Thủ Đức</p>
        </div>
      </div>
      <!--Column 2-->
      <div class="footer__col-2">
        <img id="logo" src="./assets/graphics/header/logo.png" alt="">
        <p>Cửa hàng chúng tôi luôn mong muốn mang đến cho khách hàng của mình những sản phẩm <br><b>chất lượng và tuyệt
            vời
            nhất</b><br>
          Xin chân thành cảm ơn sự tin tưởng và ủng hộ của quý khách hàng!
        </p>
        <div class="footer__soical">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>

        </div>
      </div>
      <!--Column 3-->
      <div class="footer__col-3">
        <p class="footer__col-title p-bold">Trang tiện ích</p>

        <nav>
          <ul>

            <a href="">
              <li>Nhật ký thay đổi</li>
            </a>

            <a href="">
              <li>Hướng dẫn</li>
            </a>

            <a href="">
              <li>Mật khẩu được bảo vệ </li>
            </a>

            <a href="">
              <li>Giấy phép</li>
            </a>

          </ul>
        </nav>
      </div>
    </div>
  </footer>
</section>